*{
    margin: 0px;
    background-color:rgb(8,27,41);
    
}

.nav{
    margin-left: 50%;
    display: flex;
    background-color: ;
    
}
.A{
    margin-right: 60px;
    color: whitesmoke;
    text-decoration: none;
    font-size:22px;
    margin-top: 20px;
    padding:5px;
    font-weight: bold;
}
.A:hover{
   
    color: rgb(3, 195, 253);
    box-shadow: 0px 0px 4px 2px rgb(3, 195, 253);
    border-radius: 9%;
}
div{
    color: aliceblue;
    font-size: 19px;
    margin-left: 20px;
}
h1{
    color: aliceblue;
    margin-top: 40px;
    font-size: 3.5em;
    margin-left: 10px;
}
.pro{
    color:rgb(6, 251, 112);
    margin-top: 30px;
    margin-bottom: 15px;
    
}
p{
    line-height: 2;
    text-align: justify;
    margin-left: 30px;
}
